<div class="container">
  <div class="row row-single-item">
    <div class="panel">
      <app-filter-panel></app-filter-panel>
    </div>
  </div>
  <div class="row row-single-item">
    <div class="panel">
      <app-user-list></app-user-list>
    </div>
  </div>
</div>