@import "../../../../mixins.less";

@mobile: ~"(max-width: 899px)";
@tablet: ~"(min-width: 900px)";

@border-color: #ddd;
@border-set: 1px solid @border-color;

.btn-empty{
  border: @border-set;
  padding: 10px 15px;
  text-align: left;
  &:hover, &.active{
    background-color: #eee;
  }
}

.row-filters{
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  @media @mobile{
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .col{
    flex: 0 0 20%;
    position: relative;
    margin: 10px 0px;
    .btn-empty{
      width: 100%;
    }
  }
}

.options-list{
  &::-webkit-scrollbar {
    width: 8px;
  }
 
  &::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
  }
 
  &::-webkit-scrollbar-thumb {
    opacity:0.5;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }

  width: 100%;
  border-left: @border-set;
  border-right: @border-set;
  overflow: hidden;
  .smooth(all, 0.3s, ease-in-out);
  max-height: 0px;
  @media @mobile{
  }
  @media @tablet {
    position: absolute;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  }
  &.active{
    overflow: auto;
    overflow: overlay;
    // max-height: calc(~"5 * (1rem + 21px)");
    max-height: 185px;
    // border-top: @border-set;
    border-bottom: @border-set;
  }
  li{
    line-height: 1rem;
    background-color: #fff;
    text-align: left;
    &:not(:last-child):not([hidden]){
      label{
        border-bottom: @border-set;
      }
    }
    label{
      padding: 10px 15px;
      cursor: pointer;
      display: block;
      .noselect;
    }
  }
}