<div class="container">
  <div class="row row-filters">
    <div class="col">
      <button class="btn-empty" [class.active]="genderList.isOpen" (click)="ToggleList(genderList)">
        <span>Пол</span>
      </button>
      <ul class="options-list" [class.active]="genderList.isOpen">
        <li *ngFor="let item of genderValues" [hidden]="item.matches === 0">
          <label *ngIf="item.matches > 0">
            <input type="checkbox" [checked]="item?.isChecked" (change)="ToggleCheck(item)">
            {{item?.value}} ({{item?.matches}})
          </label>
        </li>
      </ul>
    </div>
    <div class="col">
      <button class="btn-empty" [class.active]="departmentList.isOpen" (click)="ToggleList(departmentList)">
        <span>Департамент</span>
      </button>
      <ul class="options-list" [class.active]="departmentList.isOpen">
        <li *ngFor="let item of departmentValues" [hidden]="item.matches === 0">
          <label *ngIf="item.matches > 0">
            <input type="checkbox" [checked]="item?.isChecked" (change)="ToggleCheck(item)">
            {{item?.value}} ({{item?.matches}})
          </label>
        </li>
      </ul>
    </div>
    <div class="col">
      <button class="btn-empty" [class.active]="cityList.isOpen" (click)="ToggleList(cityList)">
        <span>Город</span>
      </button>
      <ul class="options-list" [class.active]="cityList.isOpen">
        <li *ngFor="let item of cityValues" [hidden]="item.matches === 0">
          <label *ngIf="item.matches > 0">
            <input type="checkbox" [checked]="item?.isChecked" (change)="ToggleCheck(item)">
            {{item?.value}} ({{item?.matches}})
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
