@import "../../../../mixins.less";

@tablet: ~"(min-width: 900px)";

@number-width: 60px;
@age-width: 110px;
@gender-width: 80px;
@department-width: 15%;

// @name-width: calc(~"(100% - @{number-width} - @{age-width} - @{gender-width} - @{department-width}) * 1 / 2");
@name-width: 30%;

.users-table{
  width: 100%;
  th,td{
    border-bottom: 1px solid #ddd;
    padding: 4px;
    @media @tablet {
      padding: 10px;
    }
  }
  th{
    color: #777;
    cursor: pointer;
    text-align: left;
    &*{
      float: left;
    }
    &:hover{
      background-color: #eee;
    }
    span{
      .noselect;
    }
  }
  @media @tablet{
    .user-number{
      width: @number-width;
    }
    .user-name{
      width: @name-width;
      min-width: 200px;
    }
    .user-age{
      width: @age-width;
    }
    .user-gender{
      width: @gender-width;
    }
    .user-department{
      width: @department-width;
    }
  }
}

.chevron-icon{
  display: none;
  float: right;
  &+span{
    margin-right: 5px;
    @media @tablet {
      margin-right: 10px;
    }
  }
  &.active{
    display: block;
    transform: rotate(-90deg);
    &.descending{
      transform: rotate(90deg);
    }
  }
}