<div class="container">
  <div class="row">
    <h3 class="h3">
      <span>Пользователи </span>
      <span>{{userList?.length}}</span>
    </h3>
  </div>
  <div class="row">
    <table class="users-table" cellspacing="0">
      <thead>
        <tr>
          <th class="user-number" (click)="ToggleSort(numberSortObj)">
            <span class="di">
              <i class="chevron-icon" [class.active]="numberSortObj?.isTouched" [class.descending]="numberSortObj.isDescending">&gt;</i>
              <span>#</span>
            </span>
          </th>
          <th class="user-name" (click)="ToggleSort(nameSortObj)">
            <span class="di">
              <i class="chevron-icon" [class.active]="nameSortObj?.isTouched" [class.descending]="nameSortObj.isDescending">&gt;</i>
              <span>Имя</span>
            </span>
          </th>
          <th class="user-age" (click)="ToggleSort(ageSortObj)">
            <span class="di">
              <i class="chevron-icon" [class.active]="ageSortObj?.isTouched" [class.descending]="ageSortObj.isDescending">&gt;</i>
              <span>Возраст</span>
            </span>
          </th>
          <th class="user-gender" (click)="ToggleSort(genderSortObj)">
            <span class="di">
              <i class="chevron-icon" [class.active]="genderSortObj?.isTouched" [class.descending]="genderSortObj.isDescending">&gt;</i>
              <span>Пол</span>
            </span>
          </th>
          <th class="user-department" (click)="ToggleSort(departmentSortObj)">
            <span class="di">
              <i class="chevron-icon" [class.active]="departmentSortObj?.isTouched" [class.descending]="departmentSortObj.isDescending">&gt;</i>
              <span>Департамент</span>
            </span>
          </th>
          <th *ngIf="windowWidth>=900" (click)="ToggleSort(addressSortObj)">
            <span class="di">
              <i class="chevron-icon" [class.active]="addressSortObj?.isTouched" [class.descending]="addressSortObj.isDescending">&gt;</i>
              <span>Адресс</span>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredList | sort : currentSortObj?.key : currentSortObj?.isDescending; let i = index">
          <!-- <tr *ngFor="let item of (userList | filter | sort : keyProp : isDescending[sortIndex]); let i = index"> -->
          <td class="user-number">{{item.number}}</td>
          <td class="user-name">{{item.name}}</td>
          <td class="user-age">{{item.age}}</td>
          <td class="user-gender">{{item.gender}}</td>
          <td class="user-department">{{item.department}}</td>
          <td *ngIf="windowWidth>=900">{{item.fullAddress}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
