.simple-shadow{
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.di{
  display: inline-block;
}

.smooth(@prop, @delay, @anim-type){
  -webkit-transition: @prop @delay @anim-type;
  -moz-transition: @prop @delay @anim-type;
  -o-transition: @prop @delay @anim-type;
  transition: @prop @delay @anim-type;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}