/* You can add global styles to this file, and also import other style files */
@import "reset.less";
@import "mixins.less";

@tablet: ~"(min-width: 900px)";

@font-size: 12px;
@font-size-tablet: 16px;
@f-family: 'Open Sans', sans-serif;

@bg-color: #eee;
@white: #fff;

html, body{
  background-color: @bg-color;
  .general-text;
}

p { 
  margin-bottom: 18px; 
}

.h1{
  font-size: 2.2rem;
}

.h2{
  font-size: 1.8rem;
}

.h3{
  font-size: 1.5rem;
}

.general-text{
  font-size: @font-size;
  font-family: @f-family;
  @media @tablet{
    font-size: @font-size-tablet;
  }
}

.container{
  padding: 0px 15px;
}

.row{
  margin: 0px -15px 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  &>.col{
    float: left;
    min-height: 1px;
  }
}

.row-single-item{
  justify-content: center;
}

// .col{
//   padding: 0 15px;
//   -ms-flex-preferred-size: 0;
//   flex-basis: 0;
//   -ms-flex-positive: 1;
//   flex-grow: 1;
//   max-width: 1200px;
// }

.panel{
  .simple-shadow;
  width: 100%;
  max-width: 1200px;
  background-color: @white;
  padding: 10px 5px;
  @media @tablet{
    padding: 20px 30px;
  }
}